
body {

    background-image: url(../pics/background.png)

}

h1 {

    text-align: center;

    background-color: #fff;

    border-radius: 5px;

    -ms-border-radius: 5px;

    -moz-border-radius: 5px;

    -webkit-border-radius: 5px;

    -o-border-radius: 5px;

    -webkit-box-shadow: 10px 10px 5px #000000;

    -moz-box-shadow: 10px 10px 5px #000000;

    box-shadow: 10px 10px 5px #000000;

}

#container {

    width: 800px;

    margin: auto;

}

#gameboard {

    padding: 20px;

}

table {

    background-color: #fff;

    border: solid 1px;

    margin: auto;

    border-radius: 5px;

    -ms-border-radius: 5px;

    -moz-border-radius: 5px;

    -webkit-border-radius: 5px;

    -o-border-radius: 5px;

    -webkit-box-shadow: 10px 10px 5px #000000;

    -moz-box-shadow: 10px 10px 5px #000000;

    box-shadow: 10px 10px 5px #000000;

}

tr,

td {

    padding: 20px;

}

img {

    -ms-transform: scale(2);

    -moz-transform: scale(2);

    -webkit-transform: scale(2);

    -o-transform: scale(2);

    transform: scale(2);

}

img:hover,

a:hover,

a:focus {

    -ms-transform: scale(2.6);

    -moz-transform: scale(2.6);

    -webkit-transform: scale(2.6);

    -o-transform: scale(2.6);

    transform: scale(2.6);

    -webkit-transition-duration: 1.1s;

}